@charset "utf-8";

* {
    color: white;
}    
body {
    background-color: black;
    
}
#box {
    height: 500px;
    width: 500px;
    margin: auto;
    background-color:#945522;
    position: relative;
    margin-top: 50px;
    border-radius: 10px;
}

#content {
    position: absolute;
    height: 400px;
    width: 400px;
    background-color: #FFBA82;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
